<!-- <p> -->
<!-- gcode-viewer works! -->
<!-- </p> -->
<button mat-button
  (click)="addModel(models[mIdx % models.length])">ADD BATMAN</button>
<div #container id="container" [ngStyle]="{
    'width': Constants.width + 'px',
    'height': Constants.height + 'px'
  }"></div>
<!-- <input matInput type="number" placeholder="X" value="100" [(ngModel)]="camera?.position.x"> -->
<!-- <input matInput type="number"  placeholder="Y" value="100" [(ngModel)]="camera?.position.y"> -->
<!-- <input matInput type="number"  placeholder="Z" value="100" [(ngModel)]="camera?.position.z"> -->
