<div *ngIf="data.usage === usage.shouldGoToPrintPage">
  <h3 mat-dialog-title class="centerize">
    <ptrl [text]="'Ongoing Print'"></ptrl>
  </h3>
  <div mat-dialog-content class="centerize">
    <div>
      <ptrl [text]="'There is already an ongoing printing'"></ptrl>
    </div>
    <div>
      <ptrl [text]="'Redirecting to print page...'"></ptrl>
    </div>
  </div>
  <div mat-dialog-actions class="centerize">
    <button mat-icon-button [mat-dialog-close]="false" class="button">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="data.usage === usage.pageNotAllowed">
  <h3 mat-dialog-title class="centerize">
    <ptrl [text]="'Inaccessible Page'"></ptrl>
  </h3>
  <div mat-dialog-content class="centerize">
    <ptrl [text]="'Accessing this page is not allowed'"></ptrl>
  </div>
  <div mat-dialog-actions class="centerize">
    <button mat-icon-button [mat-dialog-close]="false" class="button">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="data.usage === usage.confirmPrint">
  <h3 mat-dialog-title class="centerize">
    <ptrl [text]="'Confirm Print'"></ptrl>
  </h3>
  <div mat-dialog-content class="centerize">
    <p>
      <ptrl [text]="'Are you sure you want to print this file?'"></ptrl>
    </p>
    <p>
      <span>{{data && data.name || 'ERR'}}</span>
    </p>
  </div>
  <div mat-dialog-actions class="centerize">
    <button mat-icon-button [mat-dialog-close]="false" class="button">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button [mat-dialog-close]="true" class="button">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="data.usage === usage.confirmStopPrint">
  <h3 mat-dialog-title class="centerize">
    <ptrl [text]="'Confirm Stop'"></ptrl>
  </h3>
  <div mat-dialog-content class="centerize">
    <ptrl [text]="'Are you sure you want to stop printing?'"></ptrl>
  </div>
  <div mat-dialog-actions class="centerize">
    <button mat-icon-button [mat-dialog-close]="false" class="button">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button [mat-dialog-close]="true" class="button">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="data.usage === usage.confirmDelete">
    <h3 mat-dialog-title class="centerize">
      <ptrl [text]="'Confirm Delete'"></ptrl>
    </h3>
    <div mat-dialog-content class="centerize">
      <ptrl [text]="'Are you sure you want to delete this file?'"></ptrl>
    </div>
    <div mat-dialog-actions class="centerize">
      <button mat-icon-button [mat-dialog-close]="false" class="button">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button [mat-dialog-close]="true" class="button">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>

<div *ngIf="data.usage === usage.printCompleted">
  <h3 mat-dialog-title class="centerize">
    <ptrl [text]="'Print Completed'"></ptrl>
  </h3>
  <div mat-dialog-content class="centerize">
    <div>
      <ptrl [text]="'Specifications'"></ptrl>
    </div>
    <div>
      <ptrl [text]="'File Name'"></ptrl>
    </div>
    <div class="dialog-completion-filename">{{data.fileDir}}</div>
    <div>
      <ptrl [text]="'Time'"></ptrl>
    </div>
    <div>{{data.time}}</div>
  </div>
  <div mat-dialog-actions class="centerize">
    <button mat-icon-button [mat-dialog-close]="true" class="button">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
