<div class="main-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="toggle(true)">
      <mat-icon>settings</mat-icon>
    </button>
    <h1 style="margin: auto;">
      <ptrl [text]="title"></ptrl>
    </h1>
    <button mat-icon-button (click)="toggle(false)">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [class.mobile-sidenav-container]="ws.isMobile">
    <mat-sidenav class="sidenav" #leftnav [mode]="ws.isMobile ? 'over' : 'side'" [fixedInViewport]="ws.isMobile"
      [class.mobile-sidenav]="ws.isMobile">
      <mat-nav-list>
        <a mat-list-item *ngFor="let lni of leftNavItems" (click)="changeLink(lni)" [routerLink]="lni.route"
          [class.active-item]="selectedLink.route === lni.route">
          <mat-icon class="icon-margin">{{lni.icon}}</mat-icon>
          <ptrl [text]="lni.label"></ptrl>
        </a>
        <mat-list-item class="lang-bottom-pos" (click)="openSelectLang()">
          <mat-icon class="icon-margin">language</mat-icon>
          <mat-label class="language-label">
            <ptrl [text]="'Language'"></ptrl>
          </mat-label>
          <mat-select #sellang [(value)]="selectedLanguage" (change)="changeLanguage()" class="language-selection">
            <mat-option *ngFor="let lang of trS.languages" [value]="lang">
              {{lang}}
            </mat-option>
          </mat-select>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav class="sidenav" #rightnav [mode]="ws.isMobile ? 'over' : 'side'" [fixedInViewport]="ws.isMobile"
      [class.mobile-sidenav]="ws.isMobile" position="end">
      <mat-nav-list>
        <button mat-raised-button>
          <ptrl [text]="'some text'"></ptrl>
        </button>
        <a *ngFor="let item of items" mat-list-item routerLink=".">{{item}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" id="matcontent">
      <router-outlet (activate)="pageChanged($event)"></router-outlet>

      <!-- Gcode 3D Viewer -->
      <div [class.hide-area]="!gcodeViewingLink" class="viewer-wrapper" #gcode3dviewer>
        <h4 class="title scroll-to">
          <ptrl [text]="'View 3D'"></ptrl>
        </h4>
        <app-gcode-viewer [model]="gcodeViewingLink" [percent]="gcodeIndex || 100"></app-gcode-viewer>
        <br><br><br><br><br>
      </div>
      <br>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<block-ui>
</block-ui>
