<div class="main-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="toggle(true)">
      <mat-icon>settings</mat-icon>
    </button>
    <h1 style="margin: auto;">
      <ptrl [text]="title"></ptrl>
    </h1>
    <button mat-icon-button (click)="toggle(false)">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [class.mobile-sidenav-container]="ws.isMobile">
    <!-- Left Nav -->
    <mat-sidenav class="sidenav" #leftnav [mode]="ws.isMobile ? 'over' : 'side'" [fixedInViewport]="ws.isMobile"
      [class.mobile-sidenav]="ws.isMobile">
      <mat-nav-list>
        <a mat-list-item *ngFor="let lni of leftNavItems" (click)="changeLink(lni.route)" [routerLink]="lni.route"
          [class.active-item]="selectedLink === lni.route">
          <mat-icon class="icon-margin">{{lni.icon}}</mat-icon>
          <ptrl [text]="lni.label"></ptrl>
        </a>
        <mat-list-item class="lang-bottom-pos" (click)="openSelectLang()">
          <mat-icon class="icon-margin">language</mat-icon>
          <mat-label class="language-label">
            <ptrl [text]="'Language'"></ptrl>
          </mat-label>
          <mat-select #sellang [(value)]="selectedLanguage" (change)="changeLanguage()" class="language-selection">
            <mat-option *ngFor="let lang of trS.languages" [value]="lang">
              {{lang}}
            </mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item class="theme-bottom-pos">
          <mat-icon class="icon-margin">format_color_fill</mat-icon>
          <ptrl [text]="'Theme'"></ptrl>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Right Nav -->
    <mat-sidenav class="sidenav" #rightnav [mode]="ws.isMobile ? 'over' : 'side'" [fixedInViewport]="ws.isMobile"
      [class.mobile-sidenav]="ws.isMobile" position="end">
      <mat-nav-list>
        <h4 class="title">
          <ptrl [text]="'Status'"></ptrl>
        </h4>
        <mat-card class="temperature-card mat-elevation-z6">
          <mat-card-title class="card-name-header">
            <h5 class="title">
              <ptrl [text]="'Hardware Usage'"></ptrl>
            </h5>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center" class="margin-bottom">
                <div class="hardware-item">
                  <ptrl [text]="'RAM Usage'"></ptrl>
                </div>
                <div class="hardware-item">
                  <ptrl [text]="'CPU Usage'"></ptrl>
                </div>
                <div class="hardware-item">
                  <ptrl [text]="'CPU Temp'"></ptrl>
                </div>
                <div class="hardware-item">
                  <ptrl [text]="'GPU Temp'"></ptrl>
                </div>
              </div>
              <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center" class="margin-bottom">
                <div class="hardware-item">
                  {{hardwareInfo['ram_usage']}}%
                </div>
                <div class="hardware-item">
                  {{hardwareInfo['cpu_usage']}}%
                </div>
                <div class="hardware-item">
                  {{hardwareInfo['cpu_temp']}}°
                </div>
                <div class="hardware-item">
                  {{hardwareInfo['gpu_temp']}}°
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
        <mat-card class="temperature-card mat-elevation-z6">
          <mat-card-title class="card-name-header">
            <h5 class="title">
              <ptrl [text]="'Temperature'"></ptrl>
            </h5>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row" h5 fxLayoutAlign="center start">
              <div fxFlex="50">
                <div class="centerize">
                  <ptrl [text]="'Bed'"></ptrl>
                </div>
                <div class="title bigger-text">
                  {{temps['bed']['cur'] + '° | ' + temps['bed']['goal'] + '°'}}
                </div>
              </div>
              <div fxFlex="50">
                <div class="centerize">
                  <ptrl [text]="'Extruder'"></ptrl>
                </div>
                <div class="title bigger-text">
                  {{temps['ext']['cur'] + '° | ' + temps['ext']['goal'] + '°'}}
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-divider class="thin-line-sep"></mat-divider>

        <!-- SHOULD THINK ABOUT HOME AND MOVE VIEW! -->
        <mat-list-item class="fan-list-item" *ngIf="shouldMoveItemExist" (click)="openMove()">
          <ptrl [text]="'Home/Move'"></ptrl>
        </mat-list-item>

        <mat-divider class="thin-line-sep" *ngIf="shouldMoveItemExist"></mat-divider>

        <mat-list-item class="fan-list-item" *ngIf="shouldMoveItemExist" (click)="releaseMotors()">
          <ptrl [text]="'Release Motors'"></ptrl>
        </mat-list-item>

        <mat-divider class="thin-line-sep" *ngIf="shouldMoveItemExist"></mat-divider>

        <h4 class="title">
          <ptrl [text]="'Heat'"></ptrl>
        </h4>
        <div class="rightnav-slider-container" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="35%" fxLayout="column">
            <div fxFlex="20%" class="margin-bottom">
              <ptrl [text]="'Bed'"></ptrl>
            </div>
            <div fxFlex="60%" class="margin-bottom">
              <mat-slider [color]="heatTemps.bed.color" (input)="sliderDrag($event.value, 'bed')" class="heat-slider"
                [max]="120" [min]="0" [step]="10" [thumbLabel]="true" [tickInterval]="2"
                [(ngModel)]="heatTemps.bed.value" [vertical]="true">
              </mat-slider>
            </div>
            <div fxFlex="20%" class="margin-bottom">
              <button mat-raised-button color="accent" (click)="submitHeat('bed')"
                [disabled]="temps['bed']['goal'] === heatTemps.bed.value">
                <ptrl [text]="'Confirm'"></ptrl>
              </button>
            </div>
          </div>
          <div fxFlex="35%" fxLayout="column">
            <div fxFlex="20%" class="margin-bottom">
              <ptrl [text]="'Extruder'"></ptrl>
            </div>
            <div fxFlex="60%" class="margin-bottom">
              <mat-slider [color]="heatTemps.ext.color" (input)="sliderDrag($event.value, 'ext')" class="heat-slider"
                [max]="350" [min]="0" [step]="10" [thumbLabel]="true" [tickInterval]="5"
                [(ngModel)]="heatTemps.ext.value" [vertical]="true">
              </mat-slider>
            </div>
            <div fxFlex="20%" class="margin-bottom">
              <button mat-raised-button color="accent" (click)="submitHeat('ext')"
                [disabled]="temps['ext']['goal'] === heatTemps.ext.value">
                <ptrl [text]="'Confirm'"></ptrl>
              </button>
            </div>
          </div>
        </div>

        <mat-divider class="thin-line-sep"></mat-divider>

        <mat-list-item (click)="changeFanStatus(!fanStatus)" dir="rtl" class="fan-list-item">
          <mat-slide-toggle color="primary" [checked]="fanStatus" class="fan-toggle">
          </mat-slide-toggle>
          <ptrl [text]="'Fan Status'"></ptrl>
        </mat-list-item>

        <mat-divider class="thin-line-sep"></mat-divider>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" id="matcontent">
      <router-outlet (activate)="pageChanged($event)"></router-outlet>

      <!-- Gcode 3D Viewer -->
      <div [class.hide-area]="!gcodeViewingLink" class="viewer-wrapper" #gcode3dviewer>
        <h4 class="title scroll-to">
          <ptrl [text]="'View 3D'"></ptrl>
        </h4>
        <app-gcode-viewer [model]="gcodeViewingLink" [percent]="gcodeIndex || 100"></app-gcode-viewer>
        <br><br><br><br><br>
      </div>
      <br>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<block-ui>
</block-ui>
