.collapse, .collapse.in {
  display: block !important;
  transition: all .25s ease-in-out;
}

.collapse {
 opacity: 0;
 height: 0;
}

.collapse.in {
  opacity: 1;
  height: 100%;
}

.progress-inside {
  font-size: 30px;
  position: relative;
  top: 6px;
}

.progress-wrapper {
  height: 32px;
}

.action-button-icon {
  font-size: 150px;
}
