@import "../../../variables.scss";

.title {
  text-align: center;
  margin-bottom: 16px;
}

.scroll-to {
  padding-top: 16px;
}

.uploader-center {
  // uploader length is 310px :->
  margin-left: calc(50% - 155px);
}

.table-column {
  max-width: 15%;
}

.table-column-wider {
  max-width: 20%;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.print-button {
  width: 100%;
  height: 60px;
  margin-top: 5px;
  font-size: 1.4em;
}

.viewer-wrapper {
  // overflow-x: overlay;
  position: relative;
  width: 360px;
  left: calc(50% - 180px);
}

.hide-area {
  visibility: hidden;
}

.print-button-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}

.upward-button {
  background-color: $theme1-selected-background;
  // position: fixed;
  // bottom: 5%;
  // left: 5%;
  width: 4em;
  height: 4em;
}

.hide-cd-overflow {
  overflow: hidden;
}

.paginator-go-behind {
  position: relative;
  z-index: -1;
}
