/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "nikeglyph";
  src: url('assets/fonts/OneNikeGlyphs.woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: iranyekan,sans-serif;
  font-weight:200;
  font-size: 11pt;
}

a {
  text-decoration: none;
  outline:none;
}

.gnav-member-bar {
  position: relative;
  top: 0;
  z-index: 999;
  height: 39px;
}

.first-bar ul {
  background: transparent;
  padding: 0;
  margin: 0;
  display: table;
  position: absolute;
  top: -1px;
  right: 0px;
  height: 39px;
}

.first-bar li {
  display: inline-block;
  padding: 5px;
  overflow: hidden;
  vertical-align: top;
  border-left: 1px solid #E5E5E5;
  height: 29px;
}

a:focus img{
  background: #E5E5E5;
  outline: none;
}

.right-bar {
  left:13px
}

.right-bar li {
  border: 0;
  height: 39px;
  padding: 0 12px;
  vertical-align: baseline;
}
.faWrapper {
  font-size: 18pt;
  line-height: 39px;
  padding: 0px;
  color: black;
  position: relative;
}

.faWrapper:focus {
  color: red;
}

.faWrapper:hover {
  color: #d23236;
}
.loginIcon {
  top: 3px;
  font-size: 20pt;
  position:relative;
}
.general {
  height: 29px;
  position: relative;
  opacity: .5;
}

.general:hover {
  opacity: 1;
}

.gnav-member-bar a {
  color: #8D8D8D;
}

nav {
  position: relative;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #E5E5E5;
  line-height: 39px;
  height: 39px;
}
.persian-mode-logo {
  font-family: nastaliq !Important;
  font-size: 30px;
  position: absolute;
  right: 13px;
  display: inline-block;
  color: black;
  transition: all .3s ease-in;
}
.persian-mode-logo:hover{
  color: #d23236;
}
.persian-mode-logo span {
  top: -20px;
  right: -16px;
  position: relative;
  font-size: 80%;
}
.second-bar {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 68px;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  border-bottom:1px solid #E5E5E5;
}
.second-bar > ul {
  background-color: white;
  text-align: center;
  font-size: 0;
  width: 100%;
  height: 66px;
  padding:0;
}
.second-bar li {
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 0 20px;
  font-size: 16px;
  height: 66px;
}
.second-bar li:hover{
  border-bottom: 2px #111 solid;
}
.selected {
  border-bottom: 2px #111 solid !important;
}
.second-bar a:focus{
  border-bottom: 2px #111 solid;
}
.second-bar a {
  text-decoration: none;
  color: black;
  height: 66px;
  display: inline-block;
  line-height: 68px;
}

.search-bar {
  position: absolute;
  display: inline-block;
  left: 13px;
  top: 14px;
  border: #E5E5E5 solid 1px;
  padding: 3px;
  transition: all .3s ease;
  overflow: hidden;
  white-space: nowrap;
}

.search-bar i {
  font-size: 18px;
  top: 2px;
  right: 4px;
}

.search-bar input {
  border: 0;
  outline: none;
  padding: 2px;
  margin: 0px 4px 5px 2px;
  font-family: iranyekan,sans-serif;
}

.genderList{
  position: absolute;
  top: 109px;
  width: 100%;
  min-height: 250px;
  font-weight: bold;
  text-align: center;
  border-bottom:1px solid #E5E5E5;
  padding-top: 40px;
  background: #fff;
}
.genderList div {
  display:inline-block;
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
}
.genderList div.middle{
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  text-align: center;
}
.genderList ul{
  display: inline-block;
  list-style-type: none;
  padding:0px 15px;
  text-align:justify !important;
  vertical-align: top;
  margin:0;
}
.headerList{
  font-weight: bolder !important;
  text-align: left !important;
}
.leftColumn {
  text-align:right;
}
.headerList li{
  font-weight: bolder !important;
  margin: 0px 0px 10px 0px !important;
}
.genderList li {
  font-size: 10pt;
  margin: 0px 0px 5px 0px;
  font-weight:lighter;
}
.headerItem{
  font-weight: bolder !important;
  margin: 0px 0px 10px 0px !important;
}
.genderList a {
  text-decoration: none;
  color: black;
  outline: none;
}

.genderList a:hover{
  color: darkgray;
}

.genderList a:focus{
  color: darkgrey;
}
.genderListWrapper{
  width: 100% !important;
  min-width: 960px;
  padding:0;
  margin:0;
  overflow: hidden;
}
.hidden {
  visibility: hidden;
  height: 0px!important;
  top: -10px;
  position: absolute;
  z-index: -1 !important;
}
.carousel-slider {
  width: 100%;
  overflow: hidden;
  z-index: -2 !important;
  font-size: 13px;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 109px;
  height: 60px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgb(229,229,229);
  white-space: nowrap;
}
.carousel-slider div {
  width: 200%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
  white-space: nowrap;
  left: 100%;
}
.carousel-slider span {
  display: inline-block;
  width:50%;
  text-align: center;
  line-height: 60px;
}
.carousel-slider img {
  vertical-align: middle;
}
.left-chevron {
  position: absolute;
  top: 109px;
  height: 60px;
  line-height: 60px;
  width: 35%;
  left: 0px;
  text-align: right;
  background-color: rgb(247, 247, 247);
  z-index: -1 !important;
}

.right-chevron {
  position: absolute;
  top: 109px;
  height: 60px;
  line-height: 60px;
  width: 35%;
  right: 0px;
  text-align: left;
  background-color: rgb(247, 247, 247);
  z-index: -1 !important;
}

.mat-drawer {
  position: fixed !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
