@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).

$pr-primary: mat-palette($mat-indigo);
$pr-accent: mat-palette($mat-grey);
$pr-warn: mat-palette($mat-deep-orange);
$pr-theme: mat-dark-theme($pr-primary, $pr-accent, $pr-warn);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.success {
  color: #{mat-color(mat-palette($mat-light-green), darker)} !important;
}
