// some global css variables that wants to be used
// across the app are defined here.
// use @import .../variables.scss to import in any scss files


$theme1-selected-background: rebeccapurple;
$theme1-file-icon-color: indianred;
$theme1-text-color: whitesmoke;
